<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Travel Planner</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="A Travel Planner App" key="title" />
    <meta
      property="og:description"
      content="An planner application that allows you to input your trip information and receive back relevant information on your trip"
    />
  </head>
  <body>
    <div id="app" class="container-fluid">
        <div class="theme-switch-wrapper py-5">
          <label class="theme-switch" for="checkbox">
          <input type="checkbox" id="checkbox" />
          <div class="slider round"></div>
        </div>    
        <div class="mt-5 container">
          <form id="inputContainer" class="">
            <div class="dest py-3">
              <input autofocus="autofocus" type="text" id="destination" placeholder="Where we headed?" />
            </div>
            <div class="timeframe">
              <input type="date" id="arrive" name="arrive" min="2020-06-01" />
              <span class="arrow">&#10230;</span>
              <input type="date" id="depart" name="depart" min="2020-06-01" />
            </div>
            <div id="flightInfo1" class="holder my-5 flight d-none">
              <button id="flight1Btn" class="closeBtn" onclick="Client.hideField(event)">Close</button>
              <input type="text" id="airline1" class ="airline" for="airline1" placeholder="Airline"/><br/>
              <input type="text" id="flightNumber1" class ="flightNumber" for="flightNumber1" placeholder="Flight ID"/>
              <input type="date" id="flightDepart1" class ="flightDepart" name="flightDepart1" placeholder="Depart"/>
              <span class="arrow text-center flightArrow1">&#10230;</span>
              <input type="date" id="flightArrive1" class ="flightArrive" name="flightArrive1" placeholder="Arrive"/>
              <input type="text" id="airportA1" class ="airportA" name="airportA1" placeholder="Depart from"/>
              <span class="arrow text-center flightArrow2">&#10230;</span>
              <input type="text" id="airportB1" class ="airportB" name="airportB1" placeholder="Arrive at"/>
            </div>
            <div id="flightInfo2" class="holder my-5 flight d-none">
              <button id="flight2Btn" class="closeBtn" onclick="Client.hideField(event)">Close</button>
              <input type="text" id="airline2" class ="airline" for="airline2" placeholder="Airline"/><br/>
              <input type="text" id="flightNumber2" class ="flightNumber" for="flightNumber2" placeholder="Flight ID"/>
              <input type="date" id="flightDepart2" class ="flightDepart" name="flightDepart2" placeholder="Depart"/>
              <span class="arrow text-center flightArrow1">&#10230;</span>
              <input type="date" id="flightArrive2" class ="flightArrive" name="flightArrive2" placeholder="Arrive"/>
              <input type="text" id="airportA2" class ="airportA" name="airportA1" placeholder="Depart from"/>
              <span class="arrow text-center flightArrow2">&#10230;</span>
              <input type="text" id="airportB2" class ="airportB" name="airportB1" placeholder="Arrive at"/>
            </div>
            <div id="notesField"class="my-5 holder notes d-none">
              <button id="notesBtn" class="closeBtnInfo" onclick="Client.hideField(event)">Close</button>
              <textarea
                class="myInput"
                id="inputNotes"
                placeholder="Enter your trip notes here"
                rows="5"
                cols="75"
              ></textarea>
            </div>
            <div id="hintContainer" class="mt-5 d-none mx-auto">
              <p class="d-inline hintText px-2">Please fill out at least both dates and location fields</p>
            </div>
            <div class="container py-5">
              <p class="d-inline opText">Optional:</p>
              <button id="addFlight" class="oBtn" onclick="Client.addField(event)">+ Flight</buttton>
              <button id="addNotes" class="oBtn" onclick="Client.addField(event)" >+ Notes</button>
            </div>
            <div class="row justify-content-end">
              <button id="undo" class="resetBtn m-3 d-none" onclick="Client.undo(event)">Undo</button>
              <button
              class="my-3"
              id="logtrip"
              type="submit"
              onsubmit="return Client.logTrip(event)"
              onclick="return Client.logTrip(event)"
            >
              Log Trip!
              </button>
            </div>
            <div class="holder entry">
              <div id="loading" class="d-none">
                <div class="spinner-border text-primary load" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </div>
          </form>
          <div id="results" class="pt-5 d-none">
            <div id="backgroundImg" class="backgroundImage">
              <div>
                <p id="location" class="resultHeader"></p>
              </div>
              <div>
                <p class="resultsText">Depart:
                  <span id="departing"></span>
                </p>
              </div>
              <div>
                <p class="resultsText">Leaving in:
                  <span id="daysUntil"></span>
                  <span>days!</span>
                </p>
              </div>
              <div>
                <p class="resultsText">Gone for:
                  <span id="duration"></span>
                  <span>days &</span>
                  <span id="durationNights"></span>
                  <span>nights</span>
              </p>
              </div>
              <div>
                <p class="resultsText">Long:
                  <span id="long"></span>
                  <span>Lat:</span>
                  <span id="lat"></span>
                </p>
              </div>
              <div>
                <p class="resultsText">Currently
                  <span id="weather"></span>
                  <span>degrees</span>
                </p>
              </div>
              <div id="optionalNotes" class="d-none">
                <p class="resultsText">Additional Notes:
                <span id="airline1"></span>
                <span id="airline2"></span>
                <span id="notes"></span>
                </p>
              </div>
            </div>
      <button id="exportBtn" class="exportBtn mt-5 d-none">Export to calendar</button>
      <button id="resetBtn" class="resetBtn mt-5 ml-3 d-none" onclick="Client.reset(event)">Reset</button>
      <div class="pictureLink ml-3 mt-5"><a id="pic" class="text-info" target="_blank" href="#">View Picture Source</a></div>
    </div>
      <div class="row align-items-end text-center footer mt-5">
        <p class="footer-text col py-5">
          Disclaimer: This service is provided as-is and with no warranties <br/>
          <a class="text-info" href="https://github.com/jordattebayo/Travel-Planner-App" target="_blank">GitHub</a><br/>
          <a class="text-info" href="https://jordanbooker.com" target="_blank"
            >Check me out</a> 😎<br/> &#169;Jordan Booker
        </p>
      </div>
    </div>
  </div>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
