/* Styles */

body {
  background: #f0ead6;
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 3.5rem;
}

#app {
  display: grid;
  background: #f0ead6;
  color: #e6c511;
  justify-content: center;
  grid-gap: 1em;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
}

.headline {
  text-align: center;
}

.appWrapper {
  padding: 2rem;
  border: 1px solid #2d2d2d;
}

.title {
  margin-bottom: 2rem;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 2rem;
}

input {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 125px;
  background: #fff;
  color: #2d2d2d;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  border: 1px solid #2d2d2d;
}

textarea {
  background: #fff;
  color: #2d2d2d;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
}

button {
  display: block;
  background: #fff;
  color: #2d2d2d;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  border: 1px solid #2d2d2d;
  margin-left: 150px;
  margin-top: 2rem;
}

button:hover {
  background: #2d2d2d;
  color: #fff;
  border: 1px solid #fff;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #2d2d2d;
  font-family: "Lato", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #2d2d2d;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #2d2d2d;
  font-family: "Lato", sans-serif;
}

.hide {
  display: none;
}

#tripLine {
  color: #2d2d2d;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  text-align: center;
}

#results {
  color: #2d2d2d;
  font-size: 1rem;
}

.resultContainer {
  display: flex;
}
